<div class="row">
    <div class="col-md-9 offset-md-3">
        <p id="acceptpolicies_policies_info">{{ __('Please click on the following links to read the corresponding documents.', 'zikulalegalmodule') }}</p>
        <ul>
        {% if activePolicies.termsOfUse|default and not acceptedPolicies.termsOfUse|default %}
            {% set policyUrl = getModVar(constant('Zikula\\LegalModule\\Constant::MODNAME'), constant('Zikula\\LegalModule\\Constant::MODVAR_TERMS_URL')) %}
            {% if policyUrl == '' %}
                {% set policyUrl = path('zikulalegalmodule_user_termsofuse') %}
            {% endif %}
            {% set policyName = __('Terms of use', 'zikulalegalmodule') %}
            <li><a class="policy-link" data-toggle="modal" data-target="#modal-policy" href="{{ policyUrl }}">{{ policyName }}</a></li>
        {% endif %}
        {% if activePolicies.privacyPolicy|default and not acceptedPolicies.privacyPolicy|default %}
            {% set policyUrl = getModVar(constant('Zikula\\LegalModule\\Constant::MODNAME'), constant('Zikula\\LegalModule\\Constant::MODVAR_PRIVACY_URL')) %}
            {% if policyUrl == '' %}
                {% set policyUrl = path('zikulalegalmodule_user_privacypolicy') %}
            {% endif %}
            {% set policyName = __('Privacy policy', 'zikulalegalmodule') %}
            <li><a class="policy-link" data-toggle="modal" data-target="#modal-policy" href="{{ policyUrl }}">{{ policyName }}</a></li>
        {% endif %}
        {% if activePolicies.agePolicy|default and not acceptedPolicies.agePolicy|default %}
            <li>{{ __f('You need to be %s years of age or older, in accordance with our minimum age requirement.', { '%s': getModVar(constant('Zikula\\LegalModule\\Constant::MODNAME'), constant('Zikula\\LegalModule\\Constant::MODVAR_MINIMUM_AGE'), 13) }, 'zikulalegalmodule') }}</li>
        {% endif %}
        {% if activePolicies.tradeConditions|default and not acceptedPolicies.tradeConditions|default %}
            {% set policyUrl = getModVar(constant('Zikula\\LegalModule\\Constant::MODNAME'), constant('Zikula\\LegalModule\\Constant::MODVAR_TRADECONDITIONS_URL')) %}
            {% if policyUrl == '' %}
                {% set policyUrl = path('zikulalegalmodule_user_tradeconditions') %}
            {% endif %}
            {% set policyName = __('General terms and conditions of trade', 'zikulalegalmodule') %}
            <li><a class="policy-link" data-toggle="modal" data-target="#modal-policy" href="{{ policyUrl }}">{{ policyName }}</a></li>
        {% endif %}
        {% if activePolicies.cancellationRightPolicy|default and not acceptedPolicies.cancellationRightPolicy|default %}
            {% set policyUrl = getModVar(constant('Zikula\\LegalModule\\Constant::MODNAME'), constant('Zikula\\LegalModule\\Constant::MODVAR_CANCELLATIONRIGHTPOLICY_URL')) %}
            {% if policyUrl == '' %}
                {% set policyUrl = path('zikulalegalmodule_user_cancellationrightpolicy') %}
            {% endif %}
            {% set policyName = __('Cancellation right policy', 'zikulalegalmodule') %}
            <li><a class="policy-link" data-toggle="modal" data-target="#modal-policy" href="{{ policyUrl }}">{{ policyName }}</a></li>
        {% endif %}
        </ul>
    </div>
</div>
<div class="modal fade" id="modal-policy" tabindex="-1" role="dialog" aria-labelledby="modal-title-policy" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-policy-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="modal-policy-body"><i class="fa fa-spin fa-cog fa-2x"></i></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Close') }}</button>
            </div>
        </div>
    </div>
</div>
{{ pageAddAsset('javascript', zasset('@ZikulaLegalModule:js/ZikulaLegalModule.User.AcceptPolicies.js')) }}
