{% macro modalWindow(policyName, policyUrl, class) %}
    <div class="modal fade" id="modal-{{ class }}" tabindex="-1" role="dialog" aria-labelledby="modal-title-{{ class }}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-title-{{ class }}">{{ policyName }}</h4>
                </div>
                <div class="modal-body">
                    <iframe width="100%" frameborder="0" scrolling="auto" allowtransparency="true" src="{{ policyUrl }}"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% set modalScript %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.modal-body iframe').css('height', $(window).height());
        });
    </script>
{% endset %}
{{ pageAddVar('footer', modalScript) }}
